@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutMain {
  @apply flex h-full w-full flex-col items-center justify-start gap-fluid-lg bg-gradient-to-b from-blue-400 via-white to-blue-400 pb-fluid-md font-semibold dark:bg-gradient-to-t dark:from-blue-800 dark:via-gray-300 dark:to-blue-800 dark:text-black;
}
.aboutText {
  @apply mt-fluid-sm flex h-fluid-md w-1/2 items-center justify-center rounded-full border border-black bg-gradient-to-b from-blue-400 via-white to-blue-400 py-fluid-xl shadow-md shadow-slate-700 dark:bg-gradient-to-t dark:from-blue-800 dark:via-gray-300 dark:to-blue-800 dark:text-black;
}
.aboutText > h1 {
  @apply text-fluid-2xl font-semibold;
}
.aboutContent {
  @apply w-1/2 text-center text-fluid-sm font-semibold dark:text-black max-xs:w-3/4;
}
